:root {
    --color-primary: #007CF0;
    --color-secondary: #00DFD8;
    --color-accent: #FF0080;
    --color-accent-2: #FF5C00;
    --color-accent-3: #FFD500; 
    --color-bg: #F7FAFC;
    --color-text: #1A202C;
    --color-text-light: #4A5568;
  }